@model IEnumerable<ProjectHammer.Service.Models.EmployeePoco>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="EditSalary">Edit salary</a>
</p>
<table class="table">
    <thead>
        <tr>         
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.DepartmentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifyDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeNo">Delete</a> |

            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Export as Text", "CreateFile")
</div>

<div>
    @ViewBag.AverageSalary
</div>
<div>
    @ViewBag.SecondHighestSalary
</div>
