@model IEnumerable<ProjectHammer.Service.Models.DepartmentPoco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentLocation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentNo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartmentNo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentNo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <div>
        <div>
            <p>
                <a>Department locations with more than one employee </a>
            </p>
        </div>
        <table class="table">
           
            <thead>
               
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfEmployees)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var getDevelopmentDepartments = ViewBag.Departments as IEnumerable<ProjectHammer.Service.Interfaces.IDepartment>;
                    @foreach (var item in getDevelopmentDepartments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.DepartmentLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.NumberOfEmployees)
                            </td>
                        </tr>
                    }
                }
            </tbody>
            </table>
    </div>
    <div>
        <div>
            <p>
                <a>"Development" department locations and number of employees </a>
            </p>
        </div>
        <table class="table">
            
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfEmployees)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var getDepartments = ViewBag.DevelopmentDepartment as IEnumerable<ProjectHammer.Service.Interfaces.IDepartment>;
                    @foreach (var item in getDepartments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.DepartmentLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.NumberOfEmployees)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div>
        <div>
            <p>
                <a>Department View </a>
            </p>
        </div>
        <table class="table">         
            <thead>
                <tr>
                    <th>
                       Department No
                    </th>
                    <th>
                       Department description
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var getDepartmentsView = ViewBag.DepartmentsView as IEnumerable<ProjectHammer.Service.Interfaces.IDepartmentView>;
                    @foreach (var item in getDepartmentsView)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.DepartmentNo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.DepartmentDescription)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>